<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<swiper-container
[loop]="true"
[pagination]="true"
[slidesPerView]="1"
>
<swiper-slide>
  <h1>Bienvenido</h1>
  <p>Los mejores celulares inteligentes de la historia de la tecnología</p>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnoticias.caracoltv.com%2Ftecnologia%2Flos-mejores-celulares-de-la-historia-segun-la-inteligencia-artificial-so35&psig=AOvVaw2hbD8RG9FquiZOtbJ1jIHb&ust=1706835935301000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKDfwIL6iIQDFQAAAAAdAAAAABAD">
<p>Desliza para continuar</p>
</swiper-slide>
<swiper-slide>
  <h1>Marcas</h1>
  <p>Los mejores celulares inteligentes de la historia de la tecnología</p>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnoticias.caracoltv.com%2Ftecnologia%2Flos-mejores-celulares-de-la-historia-segun-la-inteligencia-artificial-so35&psig=AOvVaw2hbD8RG9FquiZOtbJ1jIHb&ust=1706835935301000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKDfwIL6iIQDFQAAAAAdAAAAABAD">
<p>Desliza para continuar</p>
</swiper-slide>
<swiper-slide>
  <h1>Caracteristicas</h1>
  <p>Los mejores celulares inteligentes de la historia de la tecnología</p>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnoticias.caracoltv.com%2Ftecnologia%2Flos-mejores-celulares-de-la-historia-segun-la-inteligencia-artificial-so35&psig=AOvVaw2hbD8RG9FquiZOtbJ1jIHb&ust=1706835935301000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKDfwIL6iIQDFQAAAAAdAAAAABAD">
<p>Desliza para continuar</p>
</swiper-slide>
</swiper-container>
</ion-content>
